<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring Repository</title>
    <style>
        .error {color:red}
        .main {color:black}
    </style>
</head>
<body>
<!--/*@thymesVar id="formtask" type="com.gbjavacourse.SpringBootTaskTracker.entities.FormTask"*/-->
<!--/*@thymesVar id="taskstatuses" type="java.util.List<com.gbjavacourse.SpringBootTaskTracker.entities.TaskStatus>"*/-->
<!--/*@thymesVar id="users" type="java.util.List<com.gbjavacourse.SpringBootTaskTracker.entities.User>"*/-->

<form th:action="@{/add}" th:object="${formtask}" method="POST">

    <div class="error" th:if="${#fields.hasErrors('title')}" th:error="*{title}"/>
    Task title: <input th:field="*{title}"/>

    <br>
    <div class="main"/>
    Task owner name:
    <select th:field="*{owner_id}">
        <option th:each="i : ${users}" th:value="${i.getId()}" th:text="${i.toString()}" th:label="${i.toString()}">
        </option>
    </select>

    <br>
    <div class="main"/>
    Task executerName name:
    <select th:field="*{executer_id}">
        <option th:each="i : ${users}" th:value="${i.getId()}" th:text="${i.toString()}" th:label="${i.toString()}">
        </option>
    </select>

    <br>
    <div class="error" th:if="${#fields.hasErrors('description')}" th:error="*{description}"/>
    Task description: <input th:field="*{description}"/>

    <br>
    <div class="main"/>
    Status:
    <select th:field="*{status_id}">
        <option th:each="i : ${taskstatuses}" th:value="${i.getId()}" th:text="${i.toString()}" th:label="${i.toString()}">
        </option>
    </select>
    <br>

    <br>
    <input type="submit" value="Submit" />
</form>
<br>
<br>
<a th:href="@{/}">Start page</a>
</body>
</html>
